.wrapper{
    max-width: 1400px;
    min-width: 360px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
}